@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 100px;
    color: whitesmoke;
    border-bottom: 5px solid white;
    padding-bottom: 0px;
    
    
}

.login input{
    border: none;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0);
    border-bottom: 3px solid white;
    color: white;
    transition: 0.5s;
    text-align: center;
    font-size: 35px;
    width: 350px;
}

.login input:focus{
    border-color: yellowgreen;
}

.login input:focus {
    outline: none;

    
}

.sayhello {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;

}


.todo {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.todo_input input {
    padding: 7px 5px;
    border: none;
    border-radius: 15px;
    color: white;
    border: 3px solid white;
    background:none;
    outline: none;
}
.todo_input span{
    color: white;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 6px;
    text-transform: uppercase;
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;

}

.todo_input input:valid ~ span,
.todo_input input:focus ~ span
 {
    color:darkslategrey;
    transform: translateX(3px) translateY(-13px);
    border-left: 3px solid darkslategrey;
    border-right: 3px solid darkslategrey;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 4px;
}

.todo_list_ul {
    margin-top: 5px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 5px;
    list-style: none;
    border-radius: 15px;
    background:rgba(255, 255, 255, 0) ;
    
    
}

.todo_list_ul li {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background:rgba(255, 255, 255, 0.205);
    border-radius: 10px;
    padding-right: 30px;
}

.todo_list_ul button {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 15px;
    border: none;
    background:none; 
    
    
}
.weather {
    list-style: none;
    position: absolute;
    top: 20px;
    right: 40px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: aliceblue;
}

.weather img {
    position: absolute;
    bottom: 20px
}

.bgImg{
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
}

.quote {
    color: white;
    width: 80%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}